<style></style>

<body>
  <div>
    <strong>Dear Student <%= name %></strong>
    <strong>Reference ID: <%= referenceId %> </strong>
    <p>
      Thank you for your interest in applying for seats at the International
      Islamic Charitable Organization<br />
      at Kuwait University. We would like to inform you that your application
      has been successfully received and will be reviewed<br />
      by the relevant department. Please note that only accepted applicants<br />
      will be contacted to complete the procedures and receive the original
      documents. For any inquiries, please<br />
      contact us via the following email:<br />
    </p>
    <p>scholarship@iico.org</p>
    <p>Best Regards,</p>
    <p>Educational Programs Department</p>
    <p>International Islamic Charitable Organization</p>
  </div>

  <div>
    <strong>عزيزي الطالب<%= name %>،</strong>
    <strong>Reference ID: <%= referenceId %> </strong>
    <p>
      شكرًا لاهتمامكم بالتقديم على مقاعد الهيئة الخيرية الإسلامية العالمية<br />
      بجامعة الكويت. ونود إعلامكم بأن طلبكم قد تم استلامه بنجاح، وسيتم
      مراجعته><br />
      من قبل الإدارة المختصة. يرجى ملاحظة أنه سيتم التواصل فقط مع المتقدمين<br />
      المقبولين لاستكمال الإجراءات واستلام الوثائق الأصلية. لأي استفسارات،
      يُرجى<br />
      التواصل معنا عبر البريد الإلكتروني التالي:<br />
    </p>
    <p>scholarship@iico.org</p>
    <p>مع أطيب التحيات،</p>
    <p>إدارة البرامج التعليمية</p>
    <p>الهيئة الخيرية الإسلامية العالمية</p>
  </div>
</body>
